@import 'bootstrap/scss/bootstrap';
@import './styles/Animations.scss';
@import './styles/BackgroundAnimation.scss';
@import './styles/Home.scss';
@import './styles/Header.scss';
@import './styles/AboutMe.scss';
@import './styles/Service.scss';
@import './styles/Experience.scss';
@import './styles/Portfolio.scss';
@import './styles/ToggleButton.scss';
@import './styles/Knowledge.scss';
@import './styles/Contact.scss';
@import './styles/Footer.scss';

html {
  scroll-behavior: smooth;
}

/**/
:root {
  --primary-bg-black: #151719;
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: #1b242c;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
  --primary-green: green;
  --primary-pink: #ce205f;
  --primary-hard-pink: #991a47;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--primary-bg-black) !important;
}

// Global styles
.dot {
  color: var(--primary-pink);
  font-size: 80px;
}

.btn-main-offer {
  border: 0px;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0.625rem 2rem 0.75rem 2rem;
  color: var(--primary-white);
  margin: 2rem;
  background-color: var(--primary-pink);
  cursor: pointer;
  transition: 0.5s;

  &::after {
    content: '\276F';
    margin-left: 1rem;
    color: var(--primary-pink);
    background-color: #fff;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    display: inline-block;
    font-weight: bold;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--primary-hard-pink);
    color: var(--primary-white);
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
  }
}
